/*---*/


/*--body--*/

body {
	margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

hr {
	color: #dbd7d3; /*для IE */
    background-color:#dbd7d3;
    border:0px none;
    height:1px;
    clear:both;
    max-width: 700px;
}

/*--links--*/

a:link,
a:visited,
a:active {
	text-decoration: none;
    border-bottom: 1px solid;
    color: #336699;
    border-color: #a4bcd5;
}

a:hover {
	color: #CC0000;
	border-color: #e39e9e;
}

a.item-selected {
	color: black;
	text-decoration: none;
	border-bottom: none;
}

img {vertical-align: middle; /*removes the underline under the image as a link*/}

a.transparent-img {
	border-bottom: 0; /*removes the underline under the image as a link with transparent background*/
}

/*---*/

/*--header--*/

header.page-header {

}

div.logo {
	padding: 50px 0;
	background: #0a0a0a;
	position: relative;
	z-index: 10; /*чтобы меню внизу было*/

    box-shadow: 0 0 5px 0 #333333;
}

div.logo figure {
	margin: 0;
	text-align: center;
}

nav.main-menu {
	text-align: center;
	min-width: 530px;
}

nav.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -8px;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    display: block;
    padding: 12px 30px;
    border: 1px solid #dbd7d3;
    border-radius: 6px;
    font-size: 22px;
    box-shadow: inset 0 0 11px -10px #34495e;
}

.main-menu li a:hover {
    /*background-color: #ffb833;*/
    /*background-color: #dbdbdb;*/
    color: black;
}

/*---*/

/*--main--*/

section.slides {
	text-align: center;
	margin: 100px 0;
	font-size: 0;
}

section.slides div {
	display: inline-block;
	margin: 0 65px 35px 0;
}

section.slides div h1 {
	margin: 10px 0 0 0;
	font-size: 18px;
}

section.describe,
section.news {
	width: 100%;
	max-width: 650px;
	font-size: 22px;
	line-height: 26px;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 100px;
}

/*--post--*/

article.post {
	margin: 150px 0 100px 0;
}

article.post header{
	padding-bottom: 100px;
}

section.intro {
	padding-bottom: 50px;
}

article.post header,
section.intro,
section.content p {
	width: 100%;
	max-width: 650px;
	font-size: 22px;
	line-height: 26px;
	margin: auto;
}

article.post header h1 {
	font-size: 50px;
	font-weight: bold;
}

article.post header time {
	font-size: 18px;
	color: grey;
}

section.intro {
	font-style: italic;
}

section.content figure img {
	width: 100%;
}

section.content p.label {
	font-size: 16px;
	color: grey;
}

/*---*/

section.news h1 {
	font-size: 42px;
	font-weight: bold;
}

/*---*/

/*--footer--*/

footer.page-footer {
	min-height: 100px;
	width: 100%;
	background-color: #1f3438;
	margin-top: 200px; 
}

.page-footer .copyright {
    float: right;
    padding: 20px 20px;
    font-size: 12px;
    color: #041f1e;
}