/*--start--*/

/*--body--*/

body {
	margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

hr {
	color: #dbd7d3; /*for IE*/
    background-color:#dbd7d3;
    border:0px none;
    height:1px;
	clear:both;
    max-width: 700px;
}

/*--links--*/

a:link,
a:visited,
a:active {
	text-decoration: none;
	border-bottom: 1px solid;
	color: #336699;
	border-color: #a4bcd5;

	transition: color 0.1s ease-in;
	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
}

a:hover {
	color: #CC0000;
	border-color: #e39e9e;
}

a.item-selected {
	color: black;
	text-decoration: none;
	border-bottom: none;
	background-color: #dbdbdb;
}

img {
vertical-align: middle; /*removes the underline under the image as a link*/
}

a.transparent-img {
	border-bottom: 0; /*removes the underline under the image as a link with transparent background*/
}

/*--end--*/

/*--header--*/

div.logo {
	padding: 50px 0;
	background: #0a0a0a;
	position: relative;
	z-index: 10;
    box-shadow: 0 0 5px 0 #333333;
    width: 100%;
}

div.logo figure {
	margin: 0;
	text-align: center;
}

div.logo figure img {
	max-width: 100%;
}

nav.main-menu {
	text-align: center;
}

nav.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -8px;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    padding: 12px 30px;
    margin-bottom: 1px;
    border: 1px solid #dbd7d3;
    border-radius: 6px;
    font-size: 22px;
    box-shadow: inset 0 0 11px -10px #34495e;
    max-width: 100%;
}

.main-menu li a:hover {
    /*background-color: #ffb833;*/
    /*background-color: #dbdbdb;*/
    color: black; 
}

/*--end--*/

/*--main--*/

section.slides {
	text-align: center;
	margin: 100px 0;
	font-size: 0;
}

section.slides div {
	display: inline-block;
	margin: 0 65px 35px 0;
}

section.slides div img {
	border-radius: 50%;
}

section.slides div h1 {
	margin: 10px 0 0 0;
	font-size: 18px;
}

/*--museum--*/

article.post header.title {
	padding-bottom: 0;
}

header.title h2 {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
}

section.slides div.clip-art {
	margin: 0 65px 100px 0;		
}

div.clip-art img {
	width: 130px;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}


div.clip-art img:hover {
	transform: scale(1.1);
}

/*--end--*/

div.container {
	margin-left: 2%;
	margin-right: 2%;
}

section.describe,
section.news {
	width: 100%;
	max-width: 650px;
	font-size: 22px;
	line-height: 26px;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 100px;
}

section.news h1 {
	font-size: 42px;
	line-height: 42px;
	font-weight: bold;
}

/*--post--*/

article.post {
	/*margin: 150px 2% 150px 2%;*/
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 100px;
	margin-bottom: 100px;
}

article.post:last-child {
	margin-bottom: 150px;
}


/*article.post:first-child {
	margin-top: 150px;

}*/

article.post header{
	padding-bottom: 40px;
}

article.post section.intro {
	padding-bottom: 50px;
	font-style: italic;
	font-size: 28px;
	line-height: 32px;
}

article.post header,
section.intro,
section.content p,
section.content blockquote {
	width: 100%;
	max-width: 650px;
	font-size: 22px;
	line-height: 27px;
	margin: auto;
}

article.post header h1 {
	font-size: 50px;
	line-height: 60px;
	font-weight: bold;
}

article.post header time {
	font-size: 18px;
	color: grey;
}

section.content figure {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}

section.content figure figcaption{
	font-size: 16px;
	line-height: 18px;
	margin-top: 10px;
}

section.content figure img {
	max-width: 100%;
}

section.content p.label {
	font-size: 16px;
	color: grey;
}

/*long quotation*/

section.content blockquote {
	font-style: italic;
	background-color: #f2f1f0;
	/*background-color: #f5f5f5;*/
	padding: 20px 30px;
	max-width: 590px;
	-webkit-box-sizing: border-box; /*for responsive design*/
	-moz-box-sizing: border-box; /*for responsive design*/
	box-sizing: border-box; /*for responsive design*/
}

/*short quote*/

section.content blockquote.citation { 
	position: relative;
	background-color: white;
}

span.quote {
	position: absolute;	
	font-size: 50px;
	display: inline-block;
	margin-top: -6px;
}

/*--end--*/

/*--typography--*/

.hanging {
	margin-left: -0.5em; /*hanging punctuation*/	
}

span.italic {
	font-style: italic;
}

span.red {
	color: #f80000;
}

/*--end--*/

/*--footer--*/

footer.page-footer {
	min-height: 100px;
	width: 100%;
	background-color: #1f3438;
	margin-top: 200px; 
}

.page-footer .copyright {
    float: right;
    padding: 20px 20px;
    font-size: 12px;
    color: #041f1e;
}

/*--end--*/

/*--finish--*/